.contenedorItem {
  text-align: center;
  border: 1px solid black;
  margin: 10rem;
  padding: 5px;
}

.img {
  max-width: 20%;
  max-height: 20%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
