.item-container {
  border: 2px solid #ccc;
  width: 6cm;
  text-align: center;
  display: inline-block;
  margin: 10px 1%;
  vertical-align: top;
}
 
.avatar {
  width: 6cm;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.avatar img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}