.item-container {
  border: 2px solid #ccc;
  max-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Alinear contenido en columna */
  align-items: center; /* Alinear contenido en el centro horizontalmente */
  padding: 10px; /* Añadir espacio entre elementos */
  margin: 10px; /* Añadir espacio entre elementos */
}



.avatar {
  flex: 1; /* Hace que la imagen ocupe todo el espacio disponible verticalmente */
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 10px;
}
