.image-list {
  /* display: flex; /* Hace que los elementos sean flexibles (en línea) */
  /*flex-direction: row;
  justify-content: center;
  margin-right: 50px;
  gap: 20px; Espacio entre las imágenes */

  padding-top: 2%;
  justify-content: center;
  gap: 20px;
  row-gap: 10px;
  list-style: none; /* Quitar el estilo de lista */
  margin-top: 10px;
  padding-right: 2%;
  padding-left: 2%;
  opacity: 0; /* Inicialmente establece la opacidad en 0 para que los elementos sean invisibles */
  transform: scale(0.5); /* Inicialmente establece la escala en 0.5 para que los elementos sean más pequeños */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Aplica una transición de 0.5 segundos con un efecto de ease-in-out */
}

.image-list.loaded {
  opacity: 1; /* Cuando la clase "loaded" está presente, establece la opacidad en 1 para hacer los elementos visibles */
  transform: scale(1); /* Cuando la clase "loaded" está presente, establece la escala en 1 para hacer los elementos de tamaño normal */
}

/* Añade estos estilos al final de tu archivo CSS */
.item-group {
  display: flex;
  gap: 20px; /* Agrega un espacio horizontal entre las imágenes en un grupo */
  justify-content: center; /* Centra horizontalmente los elementos en un grupo */
}

.item {
  /* Establece los estilos de la imagen según tus preferencias */
  width: 20px; /* Ajusta el ancho según tus necesidades */
  height: 20px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
}
